﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sample Repository / MVC / Material Design Application</title>

    @Scripts.Render("~/bundles/webcomponents")
    <link rel="import" href="/bower_components/polymer/polymer.html"> 
    <link rel="import" href="/bower_components/font-roboto/roboto.html">
    <link rel="import" href="~/Components/transform-layout.html">
    <style>
        body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        }
    </style>

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <transform-layout></transform-layout>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
