﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="Sample Architecture using MVC & Polymer" />
    <title>@ViewBag.Title - Sample Architecture</title>

    <!-- Load webcomponents-loader.js to check and load any polyfills your browser needs -->
    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="~/Components/transform-nav.html" />

    <style>
        body {
            margin: 0;
            font-family: 'Roboto', 'Noto', sans-serif;
            line-height: 1.5;
            min-height: 100vh;
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    <transform-nav app-name="Sample Architecture"></transform-nav>
    @RenderBody()



</body>
</html>
