﻿<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<dom-module id="transform-layout">
    <template>
        <style>
            app-toolbar {
                background-color: #dcdcdc;
            }

            .main-header {
                box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
            }

            paper-tabs {
                --paper-tabs-selection-bar-color: black;
                height: 100%;
                max-width: 640px;
            }

            paper-tab {
                --paper-tab-ink: #aaa;
                text-transform: uppercase;
            }

            [hidden] {
                display: none !important;
            }
        </style>
        <app-drawer-layout force-narrow>
            <app-drawer id="drawer" slot="drawer">
                <app-toolbar>Sample Architecture</app-toolbar>
                <!-- Nav on mobile: side nav menu -->
                <paper-listbox selected="{{selected}}" attr-for-selected="name">
                    <template is="dom-repeat" items="{{items}}">
                        <paper-item name$="{{item}}">{{item}}</paper-item>
                    </template>
                </paper-listbox>
            </app-drawer>
            <app-header-layout>
                <app-header class="main-header" slot="header">
                    <app-toolbar>
                        <paper-icon-button icon="menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
                        <div main-title>Sample Architecture</div>
                    </app-toolbar>
                    <app-toolbar class="tabs-bar">
                        <p>Test</p>
                        <!-- Nav on desktop: tabs -->
                        <paper-tabs selected="0" attr-for-selected="name">
                            <paper-tab name="One">One</paper-tab>
                            <paper-tab name="Two">Two</paper-tab>
                            <paper-tab name="Three">Three</paper-tab>
                            <!--<template is="dom-repeat" items="{{items}}">
                                <paper-tab name$="{{item}}">{{item}}</paper-tab>
                            </template>-->
                        </paper-tabs>
                    </app-toolbar>
                </app-header>
                <!-- content -->
                <div>
                    <iron-icon icon="menu"></iron-icon>
                    <template is="dom-repeat" items="{{items}}">
                        <p>{{item}}</p>
                    </template>
                    <p />
                    wide={{wideLayout}}
                </div>
            </app-header-layout>
        </app-drawer-layout>

        <iron-media-query query="min-width: 600px" query-matches="{{wideLayout}}"></iron-media-query>

    </template>
    <script>

        Polymer({

            is: 'transform-layout',

            properties: {

                selected: {
                    type: String,
                    value: 'Item One'
                },

                wideLayout: {
                    type: Boolean,
                    value: true,
                    observer: 'onLayoutChange',
                },

                items: {
                    type: Array,
                    value: function () {
                        return ['Item One', 'Item Two', 'Item Three', 'Item Four', 'Item Five'];
                    }
                }
            },

            onLayoutChange: function (wide) {
                var drawer = this.$.drawer;

                if (wide && drawer.opened) {
                    drawer.opened = false;
                }
            }
        });

    </script>
</dom-module>